* {
  
}


{
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
  
 
}

.box {
  display:flex;
  justify-content: end;
  font-size: 60px;
}

a { text-decoration: none; }

